<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="volunteercheck">

    <title>Volunteer with {{org.name}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/org/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/app_1.min.css" rel="stylesheet">
    <link href="/css/app_2.min.css" rel="stylesheet">
    <link href="/css/overrides.css" rel="stylesheet">

    <link href="/css/org/landing-page.css" rel="stylesheet">

    <link href="/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
    <link href="/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="/css/org/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Header -->
    <a name="about"></a>
    {{#if org.heroImg}}
      <div class="intro-header" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url({{org.heroImg}}) no-repeat center center;">
    {{else}}
      <div class="intro-header" style="background: #43cea2; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #43cea2 , #185a9d); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #43cea2 , #185a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: cover">
    {{/if}}

        <div class="container">


            <div class="row">

                <div class="col-lg-12">
                  <div class="intro-message">

                    <h1>{{org.name}}</h1>
                    <h3>{{org.tagline}}</h3>
                    <hr class="intro-divider">

                    {{{body}}}
                  </div>

                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="{{org.website}}">Visit Our Website</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{{org.facebook}}">Find us on Facebook</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{{org.twitter}}">Follow us on Twitter</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; {{org.name}} All Rights Reserved. Powered by <a href="https://www.volunteercheck.org">www.volunteercheck.org</a></p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
